
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  rgb(10, 10, 5);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (min-width:320px) {
  body {
      background-color: lightblue;
  }
  .bahthon {
      height: 20%;
      width: 50%;
  }
  .botan {
      height: 20%;
      width: 50%;
  }
}
@media only screen and (min-width:480px) {
  body {
      background-color: blue;
    
  }
    .bahthon {
      height: 20%;
      width: 50%;
  }
    .botan {
      height: 20%;
      width: 50%;
  }
}

@media only screen and (min-width: 794px) {
  body {
      background-color: darkslateblue;
  }
    .bahthon {
      height: 20%;
      width: 50%;
  }
    .botan {
      height: 20%;
      width: 50%;
  }
}

@media only screen and (min-width: 1020px) {
  body {
      background-color: white;
  }
    .bahthon {
      height: 20%;
      width: 50%;
  }
  .botan {
      height: 20%;
      width: 50%;
  }
}
P.blocktext {
  margin: center;
  width: 8em
}

/*new shit starts here */

.dropbtn {
  background-color: rgb(40, 40, 40);
  color: White;
  padding: 16px 222px 0px 16px;
  font-size: 16px;
  border: none;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(65, 65, 65);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 300px; 
  z-index: 100000000000;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(55, 40, 30)}

.lol {display:block;}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative; left : 222px; top : -20px;
}
body {
  background-image: url(../IMGLibr/Background_0.jpg);
  color: whitesmoke;
}
.copyright {
  position: absolute;
  bottom:0;
  right:0;
}
.blocktext{
  text-align: center;
  font-size: 40px;
}

.HogRida {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 17px;
}
.botan{
  background-color: Gray;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 24px;
  transition-duration: 0.5s;
  cursor: pointer;
  border: 3px solid #555555;
  border-radius: 50%;
  width: 500px;
  position: absolute; top: 50%; left: 25%;
}
.botan:hover {
  background-color: #555555;
  color: white;
}
.bahthon{
  background-color: gray;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 24px;
  transition-duration: 0.5s;
  cursor: pointer;
  border: 3px solid #222222;
  border-radius: 50%;
  width: 500px;
  position: absolute; top: 50%; left: 51%;
}
.bahthon:hover {
  background-color: #222222;
  color: white;
}

/* the following button should go commit die */

.buhton{
  background-color: aliceblue;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  transition-duration: 0.5s;
  cursor: pointer;
  border: 5px solid #555555;
  border-radius: 30px;
  width: 1000px;
  position: absolute; top: 40%; left: 24%;
}
.buhton:hover {
  background-color: #222222;
  color: white;
  }
.buton{
    background-color: rgb(26, 18, 18);
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 24px;
    transition-duration: 0.5s;
    cursor: pointer;
    border: 3px solid #222222;
    border-radius: 50%;
    width: 250px;
    position: absolute; top: 87%; left: 0%;
}
.buton:hover {
    background-color: #1d221e;
    color: white;
}
.buttons {
  display: flex;
}
#snackbar {
  visibility: hidden;
  background-color: #333333;
  color: aliceblue;
  text-align: center;
  padding: 16px;
  position: absolute; top: 90%; left: 5%;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 5s, fadeout 5s;
  animation: fadein 5s, fadeout 5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
